body{
  background-color: grey;
}
h1{
  color: blue;
  text-align: center;
  font-family: arial;
  font-size: 40px;
}
p{
  font-family: arial;
  font-size: 18px;
}
button{
  font-family: arial;
  font-size: 18px;
}
.menu{
  overflow: hidden;
  background-color: white;
}
.menu a{
  font-family: arial;
  font-size: 18px
  color: red;
  text-align: center;
  padding: 9px;
}
.menu a.hover{
  background-color: black;
  color: cyan;
}
