body{
  background-image: linear-gradient(to top right, black, grey);
  background-repeat: no-repeat;
  color: white;
  font-family: arial;
}
h1{
  color: blue;
  text-align: center;
  font-family: arial;
  font-size: 40px;
}
p{
  font-family: arial;
  font-size: 18px;
}
div{
  font-family: arial;
  font-size: 22px;
}
button{
  font-family: arial;
  font-size: 18px;
}
#menu{
  overflow: hidden;
  background-color: white;
}
#menu a{
  font-family: arial;
  font-size: 18px
  color: red;
  text-align: center;
  padding: 9px;
}
#menu a.hover{
  background-color: black;
  color: cyan;
}
