html{
  height: 100%;
}
body{
  min-height: 100%;
  margin: 0;
  background-image: linear-gradient(135deg, black, grey);
  color: white;
  font-family: arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
background{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}
h1{
  color: blue;
  margin: 0;
  text-align: center;
  font-family: arial;
  font-size: 2.5rem;
}
p{
  font-family: arial;
  font-size: 18px;
}
div{
  font-family: arial;
  font-size: 22px;
}
button{
  font-family: arial;
  font-size: 18px;
}
#menu{
  overflow: hidden;
  background-color: white;
}
#menu a{
  font-family: arial;
  font-size: 18px;
  color: red;
  text-align: center;
  padding: 9px;
}
#menu a.hover{
  background-color: black;
  color: cyan;
}
